#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
}

ul, li {
  text-align: justify;
}

.badge {
  border-radius: 37%;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.calendar-month, .calendar-weekdays {
  display: contents;
}

.date-cell {
  border: 1px solid;
  padding: 20px;
  background-color: darkslategray;
}

.date-cell-clicked {
  border: 2px solid blue;
  padding: 20px;
  background-color: darkslategray;
}

.today {
  background-color: #09d3ac;
  border-radius: 38%;
  color: navy;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

li {
  list-style: none;
}

table {
   white-space: nowrap;;
}

td {
  padding: 0.5rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: left;
}

a {
  color: #09d3ac;
  text-decoration: none;
}

.add-todo, .view-calendar {
  background-color:navy;
  color: cyan;
  border: none;
}

.add-todo:hover, .view-calendar:hover {
  background-color: blue;
}

.added {
  background-color: transparent;
  color:lime;
  font-size: large;
  padding: 0%;
}

.removed {
    background-color: transparent;
    color:crimson;
    border: none;
    font-size: large;
    padding: 0%;
}

.cancel {
  background-color: transparent;
  color: red;
  border: none;
  font-size: large;
  padding: 0%;
}

.edit {
  background-color: transparent;
  color: orangered;
  border: none;
  padding: 0%;
}

.edit-category {
  background-color: transparent;
  color:yellow;
  border: none;
  padding: 0%;
}

.confirm {
  background-color: transparent;
  color:teal;
  border: none;
  padding: 0%;
}

.confirm-category {
  background-color: transparent;
  color:darkcyan;
  border: none;
  padding: 0%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
